node_modules/
.env
.env.local
*.db
*.db-journal
THANGTINHOC.zip
deploy/deploy.conf
.DS_Store
dist/
build/
*.log
**/out.txt
**/out_*.txt
**/build_err.txt
**/test_out.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.agents/

site_dist/

